:root{
    --orange-color: #DA722C;
    --dark-blue-color:#023047;
    --dark-color:#070917;
    --light-color:#E8F7FB;
    --light-blue-color:#6F7DFB;
}


*,
*::after,
*::before{
    box-sizing: border-box;

}

body{
    margin:0;
    font-family: "Poppins",sans-serif;
}


.wrapper{
    max-width: 1134px;
    margin:0 auto;
    background:red;

}

.btn{
    padding:16px 32px;
    border-radius: 24px;
    color:#fff;
    display:inline-block;
    font-weight:bold;
    font-size:18px;
    text-decoration: none;
    position:relative;

}

.btn.dark{
    background:var(--dark-blue-color);
}

.btn.light{
    background-color: var(--orange-color);
}

.btn.enrol-icon::before{
    content:url('images/enrol-icon.svg');
    position:absolute;
    top:50%;
    left:32px;
    transform:translateY(-50%)
}

.btn.enrol-icon{
    padding-left:60px;
}


